[Unit]
Description=PiDecoder Web Administration
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/pidecoder
ExecStart=/usr/bin/python3 /opt/pidecoder/scripts/config-web.py --root /opt/pidecoder --bind 0.0.0.0 --port 8080
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
